@using Microsoft.AspNetCore.Authentication;
<div>
    <div class="row">
        <p>
            @ViewData["Message"]
        </p>
    </div>
    <div class="row">
        <p>
            @ViewData["TokenResponseJson"]
        </p>
    </div>
    <div class="row">
        <p>
            @ViewData["APIResponseCode"]
        </p>
    </div>
    <div class="row">
        <p>
            @ViewData["UsersClaimsJson"]
        </p>
    </div>

    <dl>
        @foreach (var claim in User.Claims)
        {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
        }
    </dl>
    <dl>
        <dt>access token</dt>
        <dd>@await ViewContext.HttpContext.Authentication.GetTokenAsync("access_token")</dd>

        <dt>refresh token</dt>
        <dd>@await ViewContext.HttpContext.Authentication.GetTokenAsync("refresh_token")</dd>
    </dl>

    <form asp-controller="Home" asp-action="Logout" method="post">
        <button type="submit">Logout</button>
    </form>

</div>
